/**
 * CSS Attendance List Module
 *
 * @copyright  Sebastian Buck 2014
 * @author     Sebastian Buck
 * @package    Attendance
 */

/* General definitons */

.hover_info
{
    display: none;
    position: absolute;   
    z-index: 10;
    background: #fff;
}

.al_title:hover .hover_info
{
    display: block;    
}