/**
 * CSS Attendance List Module
 *
 * @copyright  Sebastian Buck 2014
 * @author     Sebastian Buck
 * @package    Attendance
 */
 
/* General definitons */

.ce_attendance_list_viewer table
{
	border-spacing: 0;
	border-collapse: collapse;
}

.ce_attendance_list_viewer tbody tr
{
	border-top: 1px dashed #ccc;
}

.ce_attendance_list_viewer tr.odd
{
	background: #ddd;
}

.ce_attendance_list_viewer td
{
	text-align: center;
	width: 50px;
	padding: 3px 5px;
	border-left: 1px dashed #ccc;
}

.ce_attendance_list_viewer td.col_member
{
	text-align: left;
	width: auto;
	border: 0px;
}

/* Expired fields */

<<<<<<< HEAD
<<<<<<< HEAD
.ce_attendance_list_viewer td.expired
=======
.mod_attendance_list td.expired
>>>>>>> 2c28d34499d25187ee1aee58202377ca0be4acfb
=======
.mod_attendance_list td.expired
>>>>>>> 2c28d34499d25187ee1aee58202377ca0be4acfb
{
	background: #bbb;
}

/* User definitons  */

.ce_attendance_list_viewer tr.logged_user
{
	border-top: 1px dashed #f00;
	border-bottom: 1px dashed #f00;
	background-color: #fbb;
}

<<<<<<< HEAD
<<<<<<< HEAD
.ce_attendance_list_viewer tr.logged_user td.expired
=======
.mod_attendance_list tr.logged_user td.expired
>>>>>>> 2c28d34499d25187ee1aee58202377ca0be4acfb
=======
.mod_attendance_list tr.logged_user td.expired
>>>>>>> 2c28d34499d25187ee1aee58202377ca0be4acfb
{	
	background-color: #d58f8f;
}

.ce_attendance_list_viewer tr.coach
{
	border-bottom: #666 3px double;
}

.ce_attendance_list_viewer tr.coach i
{
	font-size: 0.75em;
}

/* Event data definitions */

.ce_attendance_list_viewer thead td, .ce_attendance_list_viewer td.tableFoot
{
	vertical-align: top;
	font-size: 0.8em;	
}

.ce_attendance_list_viewer thead td div.al_title
{	
	margin-bottom: 25px;
}

.ce_attendance_list_viewer thead td p.al_date
{
	min-height: 35px;
	margin-bottom: 10px;	
}
<<<<<<< HEAD
<<<<<<< HEAD

/* Hoverbox CSS */

.hover_info
{
    display: none;
    text-align: left;
    padding: 10px;    
    min-height: 140px;
    min-height: 140px;
    background: white;
    border: #ccc solid 2px;
    border-radius: 8px;
}

.hover_info td
{    
    text-align: left;    
    border: none;
    font-size: 1em !important;
    width: auto;
}

.hover_info tr
{
    border: none !important;
}
=======
>>>>>>> 2c28d34499d25187ee1aee58202377ca0be4acfb
=======
>>>>>>> 2c28d34499d25187ee1aee58202377ca0be4acfb
